<?xml version="1.0"?>
<!-- -->
<launch>

    <group ns="/shelf">
        <rosparam command="load" file="$(find amazon_object_segmentation)/params/default.yaml" />
    </group>

    <!--Launch the bin segmentation action server-->
    <!--<node pkg="amazon_object_segmentation" type="segment_point_cloud_from_bin" name="segment_point_cloud_from_bin" output="screen">-->
    <!--</node>-->

    <!--Publish a static tf from the /ee_link to the /kinect_link-->
    <arg name="robot_camera_mount_link_frame_id" default="/ee_link"/>
    <arg name="camera_frame_id" default="/kinect_link"/>
    <!--This is yaw pitch roll (must be changed after the tf_echo)-->
    <!--Now to avoid errors we use the quaternion-->
    <arg name="static_transform" value="-0.048, 0.066, 0.182, 0.359, -0.220, -0.131, 0.898" />
    <node pkg="tf" type="static_transform_publisher" name="static_tf_publisher" args="$(arg static_transform) $(arg robot_camera_mount_link_frame_id) $(arg camera_frame_id) 30" />

    <node pkg="amazon_object_segmentation" type="robot_to_shelf_calibration_manual" name="robot_to_shelf_calibration_manual" output="screen">
    </node>

</launch>	
